# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=test-topic

# Producer Configuration
PRODUCER_ACKS=all
PRODUCER_RETRIES=3
PRODUCER_BATCH_SIZE=16384

# Consumer Configuration
CONSUMER_GROUP_ID=sailaja-group
CONSUMER_AUTO_OFFSET_RESET=earliest
