# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=transactions-topic

# Producer Configuration
PRODUCER_ACKS=all
PRODUCER_RETRIES=3
PRODUCER_BATCH_SIZE=16384

# Consumer Configuration
CONSUMER_GROUP_ID=sailaja-group
CONSUMER_AUTO_OFFSET_RESET=earliest

# AWS Credentials for S3 Sink Connector
AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here